textarea{
    width: 300px;
    height: 150px;
}

.setAll ,.removeAll{
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:2px solid;
    border-radius:6px;
}

.setAll{
    float: left;
    color: blue;
}

.removeAll{
    float: right;
    color: red;
}